<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td class="image">
        <%= image_tag(post.image_url, class: 'list_image') %>
      </td>
      <td>
        <%= post.title %>
      </td>
      <td>
        <%= truncate(strip_tags(post.description),
                     length: 80) %>
      </td>
      <td colspan="3">
        <ul>
          <li class="button-normal"><%= link_to 'Show', post_path(post), remote: true %></li>
          <% if session[:user_id] %>
            <li class="button-normal"><%= link_to 'Edit', edit_post_path(post) %></li>
            <li class="button-danger"><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
