<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<h1>Posts</h1>
<table>
  <tfoot>
  <tr>
    <td colspan="3" class="button-normal">
      <%= link_to 'New Post', new_post_path %>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <% @posts.each do |post| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="image">
        <%= image_tag(post.image_url, class: 'list_image') %>
      </td>
      <td class="description">
        <h1><%= post.title %></h1>
        <p>
          <%= truncate(strip_tags(post.description),
                       length: 80) %>
        </p>
      </td>
      <td class="actions">
        <ul>
          <li class="button-normal"><%= link_to 'Show', post, :remote => true %></li>
          <li class="button-normal"><%= link_to 'Edit', edit_post_path(post) %></li>
          <li class="button-danger">
            <%= link_to 'Destroy',
                        post,
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %>
          </li>
        </ul>
      </td>
      <div id="content">

      </div>
    </tr>
  <% end %>
  </tbody>
</table>